input.none{
    display: none;
    &:checked~.contour{
        background-color: $primary;
        border: solid 3px $primary;
        color: white;
    }
}
nav{
    flex-wrap: nowrap !important;
    z-index: 2;
    &::before{
        content: '';
        position: fixed;
        top: 50%;
        right: 0;
        box-shadow: 0 0 500px 200px rgba($color: $primary, $alpha: 0.1);
        z-index: -1;
    }
    &::after{
        content: '';
        position: fixed;
        top: 80%;
        left: 0;
        box-shadow: 0 0 500px 200px rgba($color: $primary, $alpha: 0.1);
        z-index: -1;
    }
}
label{
    font-size: 15px;
    &.contour{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        min-width: 80px;
        height: 50px;
        border: solid 3px rgba($color: #000000, $alpha: 0.1);
        border-radius: 10px;
        transition: .2s;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            border: solid 3px $primary;
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.1);
        }
    }
}
.q-stepper__content{
    width: 100%;
    max-width: 500px;
}
@media screen and (max-width: 700px) {
    nav{
        padding: 10px 5px !important;
        &::before{
            box-shadow: 0 0 200px 100px rgba($color: $primary, $alpha: 0.05);
        }
        &::after{
            box-shadow: 0 0 200px 100px rgba($color: $primary, $alpha: 0.05);
        }
    }
}