.pg-admin {
  &__header {
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 0 1em;
      .logo {
        display: flex;
        align-items: center;
        .image {
          position: relative;
          overflow: hidden;
          width: 60px;
          height: 60px;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .nav {
        display: block;
        @include xl-max {
          display: none !important;
        }
        &-mobile {
          display: none;
          @include xl-max {
            display: block !important;
            margin: 1em;
          }
        }
        ul {
          display: flex;
          gap: 30px;
          a {
            cursor: pointer;
            position: relative;
            font-weight: bold;
            &::after {
              position: absolute;
              content: "";
              width: 0%;
              height: 2px;
              bottom: -5px;
              left: 0;
              background: $primary;
              transition: width 0.5s ease;
            }
            &:hover,
            &.active {
              color: $primary;
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
      .user-admin {
        display: flex;
        gap: 10px;
        @include xl-max {
          gap: 5px;
        }
        align-items: center;
        .info {
          .name {
            font-size: 1.2em;
            font-weight: 600;
            @include xl-max {
              font-size: 0.8em;
            }
          }
          .role {
            font-size: 0.8em;
            @include xl-max {
              font-size: 0.6em;
            }
          }
        }
        .chat {
          width: 50px;
          height: 50px;
          @include flexCenter;
          position: relative;
          .count {
            position: absolute;
            top: 0;
            right: 0;
            width: 18px;
            height: 18px;
            background-color: red;
            color: #fff;
            border-radius: 50%;
            @include flexCenter;
            font-size: 1.2em;
          }
        }
      }
    }
  }
  .q-avatar {
    @include xl-max {
      font-size: 30px !important;
    }
  }
}
